<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="db.dao.TestMapper" >
  <resultMap id="BaseResultMap" type="db.model.Test" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, name, age, createTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from test
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from test
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="db.model.Test" >
    insert into test (ID, name, age, 
      createTime)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="db.model.Test" >
    insert into test
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="db.model.Test" >
    update test
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="db.model.Test" >
    update test
    set name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>


  <select id="selectListByParam" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from test
    where 1 = 1
    <if test="pojo != null and pojo.name != null and pojo.name != ''">
      and name = #{pojo.name,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.age != null">
      and age = #{pojo.age,jdbcType=INTEGER}
    </if>
    <if test="pojo != null and pojo.createtime != null">
      and createTime = #{pojo.createtime,jdbcType=TIMESTAMP}
    </if>
  </select>

  <select id="selectCountByParam" resultType="int">
    select count(1)
    from test
    where 1 = 1
    <if test="pojo != null and pojo.name != null and pojo.name != ''">
      and name = #{pojo.name,jdbcType=VARCHAR}
    </if>
    <if test="pojo != null and pojo.age != null">
      and age = #{pojo.age,jdbcType=INTEGER}
    </if>
    <if test="pojo != null and pojo.createtime != null">
      and createTime = #{pojo.createtime,jdbcType=TIMESTAMP}
    </if>
  </select>

</mapper>